@import 'sass-bootstrap/lib/bootstrap';

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Proxima-Nova", Helvetica, Arial, Sans-Serif;
  font-weight: 100 !important;
}

h1,h2,h3,h4,h5 {
  font-family: "Proxima-Nova", Helvetica, Arial, Sans-Serif;
  // font-weight: 
}

h1  {
  margin-bottom: 20px;
  font-size: 3em;
}

a {
  color: #EEE;
  // font-weight: bold;
  border: 2px solid #FFF;
  border-radius: 4px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  padding: 0 20px;
  margin-top: 25px;
  &:hover {
    text-decoration: none;
    color: #CCC;
    border-color: #CCC;
  }
}
.video--wrapper {
  display: none;
  video {
    position: relative;
    height: 120%;
  }
}
.content--wrapper {
  position: absolute;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  width: 100%;
  .content {
    display: none;
    color: #FFF;
    font-size: 2em;
    line-height: 1.8;
    font-weight: 400;
    padding: 1em;
    max-width: 680px;
    margin: 0 auto;

    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 480px) {
  video {
    display: none;
  }
  body {
    padding-top: 2em;
  }
  h1 {
    font-size: 2em;
  }
  .content--wrapper {
    .content {
      font-size: 1.25em;

      position: relative;
      top: 0;
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
}