@import 'sass-bootstrap/lib/bootstrap';

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  background: #000;
  font-family: 'Proxima-Nova', Helvetica, Arial, Sans-Serif;
}

h1,h2,h3,h4,h5 {
  font-family: 'Proxima-Nova', Helvetica, Arial, Sans-Serif;
}
h1  {
  margin-bottom: 20px;
  font-size: 3em;
  font-weight: bold;
}
h2 {
  font-weight: bold;
  margin-top: 20px;
}

.video--wrapper {
  display: none;
  video {
    position: relative;
    height: 120%;
  }
}

.content--wrapper {
  position: absolute;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  width: 100%;
  .content {
    color: #FFF;
    display: none;
    font-size: 2em;
    font-weight: 400;
    height: 460px;
    left: 50%;
    line-height: 1.8;
    margin: -230px 0 0 -340px;
    max-width: 680px;
    padding: 1em;
    position: absolute;
    top: 50%;
    // position: relative;
    // top: 50%;
    // -webkit-transform: translateY(-50%);
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
    span {
      opacity: .5;
      font-weight: 100;
    }
  }
}

@media screen and (max-width: 480px) {
  video {
    display: none;
  }
  body {
    padding-top: 2em;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  .content--wrapper {
    .content {
      font-size: 1.25em;
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
    }
  }
}